/*Seccion Sobre Mi*/

.portafolio_sobremi {
    display: grid;
}

.texto_sobremi {
    color: #ffffff;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.eduardo_sobremi {
    width: 320px;
    height: auto;
    margin: 1rem;
    border-radius: 45px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}