    .portafolio_skills {
        display: flex;
        flex-wrap: wrap;
    }
    
    .portafolio_skills_iconos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 0rem;
    }
    
    .portafolio_skills_imagen {
        width: 10%;
        height: 28%;
        margin: 1.5rem;
    }